body {
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.player {
    width: 70%;
    margin: 30px auto;
}

.player__video {
    width: 100%;
    border: 2px solid white;
}

.player__button {
    font-size: 28px;
    margin: 10px;
    padding: 5px 12px;
    cursor: pointer;
}

.controls {
    margin-top: 10px;
}

.rewind, .forward {
    padding: 8px 15px;
    font-size: 16px;
    margin: 5px;
}

.player__slider {
    width: 150px;
    margin: 8px;
}

.progress {
    background: #555;
    width: 100%;
    height: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.progress__filled {
    width: 0%;
    background: #00e676;
    height: 10px;
}
