
/* Your CSS Code here. */
body {
    background: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.player {
    width: 70%;
    margin: 40px auto;
}

.viewer {
    width: 100%;
    border: 2px solid #fff;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}

.player__slider {
    width: 150px;
}

.progress {
    width: 100%;
    background: #555;
    height: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.progress__filled {
    width: 0%;
    height: 100%;
    background: #00e676;
}
